@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Microondas</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Tipos de Programa</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: programTypes">
                    <li>
                        <strong><span data-bind="text: Name"></span></strong>: <span data-bind="text: Instructions"></span>
                        <small><a href="#" data-bind="click: $parent.getProgramTypeDetail">Detalhes</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detalhes</h2>
            </div>

            <table class="table">
                <tr><td>Nome</td><td data-bind="text: detail().Name"></td></tr>
                <tr><td>Instruções</td><td data-bind="text: detail().Instructions"></td></tr>
                <tr><td>Duração</td><td data-bind="text: detail().Duration"></td></tr>
                <tr><td>Potencia</td><td data-bind="text: detail().Potency"></td></tr>
                <tr><td>Character de Aquecimento</td><td data-bind="text: detail().HeatChar"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Adicione um tipo de programa</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addProgramType">
                    <div class="form-group" data-bind="with: newProgramType">
                        <label for="inputName" class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" />
                        </div>

                        <label for="inputInstructions" class="col-sm-2 control-label">Instruções</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputInstructions" data-bind="value:Instructions" />
                        </div>

                        <label for="inputDuration" class="col-sm-2 control-label">Duração</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputDuration" data-bind="value:Duration" />
                        </div>

                        <label for="inputPotency" class="col-sm-2 control-label">Potencia</label>
                        <div class="col-sm-10">
                            <input type="number" step="any" class="form-control" id="inputPotency" data-bind="value:Potency" />
                        </div>

                        <label for="inputHeatChar" class="col-sm-2 control-label">Caracter para Aquecimento</label>
                        <div class="col-sm-10">
                            <input type="text" step="any" class="form-control" id="inputHeatChar" data-bind="value:HeatChar" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Entrada de comandos</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: executeCommand">
                    <div class="form-group" >
                        <div class="col-md-10">
                            <label for="inputCommand" class="col-md-10 control-label">Entre o programa ou a duração e potencia separado por ;</label>
                            <input type="text" class="form-control" id="inputCommand" placeholder="120;10"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Iniciar</button>
                </form>
                <form class="form-horizontal" data-bind="submit: fastHeating">
                    <div class="form-group">
                        <div class="col-md-10">
                            
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Aquecimento Rápido</button>
                </form>
            </div>

        </div>
    </div>
</div>